<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LufaAPI</key>
	<dict>
		<key>secret</key>
		<string>ZEYgkeDnQ5</string>
		<key>key</key>
		<string>jsjjxuj62dmt926s83hwfj3r</string>
		<key>serverAddress</key>
		<string>https://developer.lufthansa.com/docs/api_flightops</string>
	</dict>
</dict>
</plist>
